
<div class="hide modal" id="image-modal">
  <a href="#" class="close">Close</a>
  <div id="modalDiv">
    <img id="img1" src="" alt="">
   
  </div>
</div>
<div id="chatStart">
  <h2 id="productName"></h2>
  <ul id="modalList">
    <li id="li1"></li>
    <li id="li2"></li>
    <li id="li3"></li>
  </ul>
  <h1 id="chatHeader">Type your message into textfield if you are interested</h1>
  
  <textarea id="textArea" rows="4" cols="130"></textarea>
  <button id="sendMessage">Send Message</button>
</div>

<%- include ('./partials/navigation') %>

<div id="Header">
  <img src="/images/shopfast-logo-full.png" alt="logo" id="logo">
 
  <div id="filterDiv">
  <input type="range" min="5" max="100" value="50" class="slider" id="myRange">
  <button class="light-border" id="filter">Filter by distance</button>
  <h3 id="distance">50km</h3>
  </div>
</div>
<div id="siteContainer">
  <div id="main"></div>

  <div id="sidebar">
  <div id="formContainer">
    <%- include ('./partials/messages') %>
    <h2>Add your product for sale</h2>
    <form
      id="fileCatcher"
      action="/data"
      method="post"
      enctype="multipart/form-data"
      id="add-data-form"
      class="light-border"
    >
      <input
        class="light-border"
        type="text"
        name="name"
        placeholder="Name"
        pattern=".{1,20}"
        required
      />
      
      <input
        class="light-border"
        type="text"
        name="price"
        placeholder="Price"
        pattern="^\d*(\.\d{0,2})?$"
        required
      />
      <select id="price_flex" name="price_flex">
        <option value="negotiable">negotiable</option>
        <option value="not negotiable">not negotiable</option>
      </select>
      <input
        class="light-border"
        type="text"
        name="description"
        placeholder="Description"
        pattern=".{1,255}"
        required
      />
      <input
        
        id="location"
        class="light-border"
        type="text"
        name="location"
        placeholder="Location (fills automatically)"
        required
        readonly
        
      />
      <input
        class="light-border"
        type="file"
        name="url[]"
        id="fileUpload"
        accept="image/*"
        placeholder="Choose file"
        multiple=""
        required
      />
      <button class="light-border" type="submit" id="saveButton">Save</button>
    </form>
    <button class="light-border" id="locationInsert">Insert your location</button>
  </div>
</div>
</div>

<script>
const myID = <%- id %>
const myName = "<%- name %>"
const myEmail = "<%- email %>"
</script>
  
<script type="text/javascript" src="/js/index.js"></script>

