<div style="color: white; text-align: center; background-color: #183473;max-width: 1200px;margin: auto; padding: 5%; margin-top: 5%;" >
    <div>
      <div>
        <h1>
          <i></i> Register
        </h1>
        <%- include ('./partials/messages') %>
        <form action="/app/users/register" method="POST">
          <div>

            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div>

            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div>

            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button id="saveButton" type="submit" style="width: auto;">
            Register
          </button>
        </form>
        <p>Have An Account? <a style="color: white;" href="/app/users/login">Login</a></p>
      </div>
    </div>
  </div>